<form action="/submit" method="post">
  <input type="text" name="username1" placeholder="player1">
  <input type="text" name="username2" placeholder="player2">
  <input type="submit" value="Save">
</form>

